{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-warning mt-3 ml-3" href="{{ path("main") }}">Main</a>
    <div class="text-center">
    <h1>Voici votre fichier !</h1>

    <a class="btn btn-success" href="/download/small-data-empty.csv" download="small-data-empty.csv"> Télécharger</a>
    </div>
{% endblock %}