{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-warning mt-3 ml-3" href="{{ path("main") }}">Main</a>
<div     class="text-center mt-3">
    <h2> Merge Form</h2>

<div class="mx-auto container mt-5 " style="width: 500px">
    {{ form_start(formulaireCsv) }}

    <div class="form-control-file border text-center" style="background-color: #f6f0fa">
        {{ form_label(formulaireCsv.csvFile1) }}
        <br>
        {{ form_widget(formulaireCsv.csvFile1) }}
        {{ form_errors(formulaireCsv.csvFile1) }}
    </div>
    <br>
    <div class="form-control-file border text-center" style="background-color: #f6f0fa">
        {{ form_label(formulaireCsv.csvFile2) }}
        <br>
        {{ form_widget(formulaireCsv.csvFile2) }}
        {{ form_errors(formulaireCsv.csvFile2) }}
    </div>
    <br>
    <div class="form-control-file border text-center" style="background-color: #f6f0fa">
        {{ form_label(formulaireCsv.isAttending,) }}
        <br>
        {{ form_widget(formulaireCsv.isAttending) }}
        {{ form_errors(formulaireCsv.isAttending) }}
    </div>
    <br>

    <button type="submit"
            class="btn btn-primary mt-3 text-center">
        Valider
    </button>
</div>
</div>
    {{ form_end(formulaireCsv) }}

    {% endblock %}