{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>


    <ul>
        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}  <a href="{{ path("app_logout") }}" style="border-radius: 50px" class="ml-2 btn btn-danger">LOGOUT</a>
        </div>
            <a href="{{ path("merge_main") }}" style="border-radius: 50px" class="mr-5 btn btn-primary">Merge</a>
        {% else %}
        <a href="{{ path("app_login") }}" style="border-radius: 50px" class="mr-5 btn btn-warning">CONNEXION</a>
        {% endif %}


    </ul>

</div>
{% endblock %}
