<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success d-flex align-items-center justify-content-center">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success d-flex align-items-center justify-content-center">
            {{ message }}
        </div>
    {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
